version: "3.8"
services:
  db:
    image: postgres:17
    restart: always
    environment:
      - POSTGRES_DB=rootDB
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432"
